node_modules/
public/css/
public/js/
public/fonts/
public/images/
public/storage/
storage/*.key
storage/database/
vendor/
docker-compose.yml
.idea
.vagrant
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
.env
.DS_Store